<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Customer Page</title>
  <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}">
  <script src="{{url_for('static',filename='js/jquery.min.js')}}"></script>

  <style media="screen">
    .option {
      margin-top: 25%;
    }
  </style>
</head>

<body>
  <div class="container">
    <div class="col-md-offset-2 col-md-8">
      <h1 class="page-header text-primary text-center">Welcome {{ usr }} !!!</h1>
      <h3 class="text-center">
        This is a web application which can be used to translate Sign Language into English Text.
        The text will also be converted into an audible voice.<br>
      </h3>
      <!-- <h4 class="text-center">
        <br>This application was built by:<br><br>
        Mohnish S (2019504551)<br>
        Krishna Kumar P (2019504541)<br>
        Ranjith V (2019504570)<br>
        Beulah Divya Kannan (2019504011)
      </h4> -->
      <div class="col-md-offset-4 col-md-4">

        <a style="margin-top:25%;" href="/signtotext" class="btn btn-lg btn-primary btn-success btn-block option">Convert Sign</a>
        <!-- <a style="margin-top:10%;" href="" class="btn btn-lg btn-warning btn-block option" disabled>Convert Text</a> -->
        <a style="margin-top:10%;" href="{{url_for('logout')}}" class="btn btn-danger btn-block option">Logout</a>
      </div>
    </div>
</body>

</html>
